nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li{
    float: left;
    font-size: 0.85em;
}

nav li a{
    text-decoration: none;
    color: black;
    padding: 6px;
}

nav li a:hover{
    text-decoration: underline;
}