body nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

body nav li{
    float: left;
    font-size: 0.85em;
}

body nav li a{
    text-decoration: none;
    color: black;
    padding: 6px;
}

body nav li a:hover{
    text-decoration: underline;
}

main img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

main{
    padding-top: 100px;
}

form{
    padding-top: 20px;
}

input[type=text] {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 20px 10px 20px;
    width: 35%;
    border-radius: 24px;
    border: 1px hsl(0, 0%, 87%) solid;
    background-color: white;
  }

input[type=text]:hover{
    box-shadow: 0 0 5px rgb(177, 177, 177);
}

div{
    padding-top: 20px;
    width: 20%;
    margin: auto;
}

button[type=submit] {
    width: 130px;
    height: 40px;
    border-style: none;
    border-radius: 5px;
    background-color: #f0f0f0;
}

button[type=submit]:hover{
    border-style: solid;
    color: black;
    border-width: thin;
}

footer{
    width: 100%;
    height: 50px;
    padding-top: 5px;
    border-top: 1px solid #e4e4e4;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f2f2f2;
}

footer ul{
    list-style-type: none;
    margin: 0;
    padding: 10px;
}

footer li{
    float: left;
    font-size: 0.85em;
}

footer li a{
    text-decoration: none;
    color: black;
    padding: 6px;
}

footer li a:hover{
    text-decoration: underline;
}